# Build artifacts
/build/
/build_*/
/cmake-build-*/
/out/
/dist/

# IDE files
/.idea/
/.vs/
/CMakeUserPresets.json

# Logs
*.log

# Qt/CMake temporary files
*.obj
*.o
*.pdb
*.ilk
*.idb
*.vcxproj.user
*.sln
